<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0.txt

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.hub.admin.infra.rbac.mapper.SysMenuMapper">

	<sql id="menuField">
		m.menu_id     menuId,
		m.parent_id   parentId,
    	m.menu_name   menuName,
    	m.menu_order  menuOrder,
    	m.menu_permit menuPermit,
    	m.menu_path   menuPath,
		m.menu_param  menuParam,
		m.menu_type   menuType,
		m.menu_icon   menuIcon,
		m.menu_status menuStatus,
		m.component,
		m.is_frame      isFrame,
		m.is_cache      isCache,
		m.is_visible    isVisible,
		m.is_protected  isProtected,
		m.create_by     createBy,
        m.create_time   createTime,
        m.update_by     updateBy,
        m.update_time   updateTime,
    	m.remark
	</sql>

	<select id="listMenusByRoles" resultType="com.cowave.hub.admin.domain.rbac.entity.SysMenu">
		select <include refid="menuField"/>
		from sys_menu m
		where is_protected = 0 and m.menu_status = 1 and m.tenant_id in('#', #{tenantId}) and m.menu_type in('C', 'M')
		union
		select <include refid="menuField"/>
		from sys_role r, sys_role_menu rm, sys_menu m
		where m.menu_status = 1 and m.tenant_id in('#', #{tenantId}) and m.menu_type in('C', 'M')
		  and r.role_id = rm.role_id and rm.menu_id = m.menu_id and r.role_code in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		order by parentId, menuOrder
	</select>

    <select id="listPermitsByUserId" resultType="java.lang.String">
		select distinct m.menu_permit
		from sys_user_role ur,
			 sys_role r,
			 sys_role_menu rm,
			 sys_menu m
		where m.menu_status = 1 and m.menu_type in('B', 'C') and m.tenant_id in('#', #{tenantId})
		  and ur.role_id = r.role_id and r.role_id = rm.role_id and rm.menu_id = m.menu_id
		  and (ur.user_id = #{userId} or m.is_protected = 0)
		  and m.menu_permit is not null
	</select>

    <resultMap id="menuTreeMap" type="com.cowave.hub.admin.domain.rbac.entity.pto.MenuTreePto">
        <result column="menuId"       property="menuId"/>
		<result column="menu_scope"   property="scopeId"/>
		<result column="parentId"     property="parentId"/>
		<result column="menuName"     property="menuName"/>
		<result column="menuOrder"    property="menuOrder"/>
		<result column="menuType"     property="menuType"/>
		<result column="isProtected"  property="isProtected"/>
        <collection property="scopes" javaType="list" ofType="com.cowave.hub.admin.domain.rbac.entity.SysScope">
            <result column="scopeId"    property="scopeId"/>
            <result column="scopeName"  property="scopeName"/>
        </collection>
    </resultMap>

	<select id="listTree" resultMap="menuTreeMap">
		select s.scope_id     scopeId,
			   s.scope_name   scopeName,
			   m.menu_id      menuId,
			   m.parent_id    parentId,
			   m.menu_name    menuName,
			   m.menu_order   menuOrder,
			   m.menu_type    menuType,
			   m.is_protected isProtected
		from sys_menu m
		left join sys_scope s on m.menu_module = s.scope_module and s.scope_status = 1 and s.tenant_id in ('#', #{tenantId})
		where m.tenant_id in ('#', #{tenantId})
		  and m.menu_status = 1
		order by m.parent_id, m.menu_order
	</select>

	<select id="listApiPermitsByAdmin" resultMap="menuTreeMap">
		select s.scope_id     scopeId,
			   s.scope_name   scopeName,
			   m.menu_id      menuId,
			   m.parent_id    parentId,
			   m.menu_name    menuName,
			   m.menu_order   menuOrder,
			   m.menu_type    menuType,
			   m.is_protected isProtected
		from sys_menu m
		left join sys_scope s on m.menu_module = s.scope_module and s.scope_status = 1 and s.tenant_id in ('#', #{tenantId})
		where m.menu_status = 1
		  and m.is_protected = 1
		  and m.tenant_id in ('#', #{tenantId})
		order by parentId, menuOrder
	</select>

	<select id="listApiPermitsByRoles" resultMap="menuTreeMap">
		select s.scope_id     scopeId,
			   s.scope_name   scopeName,
			   rm.scope_id    menu_scope,
			   m.menu_id      menuId,
			   m.parent_id    parentId,
			   m.menu_name    menuName,
			   m.menu_order   menuOrder,
			   m.menu_type    menuType,
			   m.is_protected isProtected
		from sys_role r, sys_role_menu rm, sys_menu m
		left join sys_scope s on m.menu_module = s.scope_module and s.scope_status = 1 and s.tenant_id in ('#', #{tenantId})
		where r.role_id = rm.role_id
		  and rm.menu_id = m.menu_id
		  and m.menu_status = 1
		  and m.is_protected = 1
		  and r.role_code in
		<foreach collection="list" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		order by parentId, menuOrder
	</select>

    <delete id="loopDeleteMenus" databaseId="postgres">
        with recursive tree (menu_id, parent_id) as
        (select m1.menu_id, m1.parent_id from sys_menu m1 where parent_id = #{menuId} or menu_id = #{menuId}
         union
         select m2.menu_id, m2.parent_id from sys_menu m2 join tree on m2.parent_id = tree.menu_id)
        delete from sys_menu m using tree where m.menu_id = tree.menu_id
    </delete>

	<delete id="loopDeleteMenus" databaseId="mysql">
   		with recursive tree as (
	        select m1.menu_id, m1.parent_id
        	from sys_menu m1
     	    where m1.parent_id = #{menuId} or m1.menu_id = #{menuId}
      	    union
  	        select m2.menu_id, m2.parent_id
            from sys_menu m2
            join tree on m2.parent_id = tree.menu_id
        )
        delete m from sys_menu m join tree on m.menu_id = tree.menu_id
    </delete>
</mapper>
