<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0.txt

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.hub.admin.infra.rbac.mapper.SysRoleMenuMapper">

    <delete id="loopDeleteMenuRoles" databaseId="postgres">
        with recursive tree (menu_id, parent_id) as
        (select m1.menu_id, m1.parent_id from sys_menu m1 where parent_id = #{menuId} or menu_id = #{menuId}
         union
         select m2.menu_id, m2.parent_id from sys_menu m2 join tree on m2.parent_id = tree.menu_id)
        delete from sys_role_menu rm using tree where rm.menu_id = tree.menu_id
    </delete>

	<delete id="loopDeleteMenuRoles" databaseId="mysql">
        with recursive tree as (
            select m1.menu_id, m1.parent_id
            from sys_menu m1
            where m1.parent_id = #{menuId} or m1.menu_id = #{menuId}
            union
            select m2.menu_id, m2.parent_id
            from sys_menu m2
            join tree on m2.parent_id = tree.menu_id
        )
        delete rm from sys_role_menu rm join tree on rm.menu_id = tree.menu_id
    </delete>

</mapper>
