<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0.txt

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.hub.admin.infra.rbac.mapper.SysRoleMapper">
    <sql id="roleField">
        r.role_id,
        r.role_name,
        r.role_code,
        r.role_type,
        r.create_by,
        r.create_time,
        r.update_by,
        r.update_time,
        r.remark
	</sql>

	<resultMap id="roleMap" type="com.cowave.hub.admin.domain.rbac.entity.pto.RoleInfoPto">
        <result column="role_id"       property="roleId"/>
        <result column="role_name"     property="roleName"/>
        <result column="role_code"     property="roleCode"/>
        <result column="role_type"     property="roleType"/>
        <result column="remark"       property="remark"/>
        <result column="create_by"     property="createBy"/>
        <result column="create_time"   property="createTime"/>
        <result column="update_by"     property="updateBy"/>
        <result column="update_time"   property="updateTime"/>
        <collection property="menuScopes" javaType="list" ofType="com.cowave.hub.admin.domain.rbac.entity.pto.MenuScopePto">
            <result column="menuId"       property="menuId"/>
            <result column="scopeId"      property="scopeId"/>
        </collection>
    </resultMap>

    <select id="info" resultMap="roleMap">
	    select
	    m.menu_id  menuId,
	    m.scope_id scopeId,
	    <include refid="roleField"/>
	    from sys_role r
	    left join sys_role_menu m on r.role_id = m.role_id
	    where r.role_id = #{roleId} and r.tenant_id in ('#', #{tenantId})
	</select>

    <select id="getRoleCodesByUserId" resultType="java.lang.String">
        select r.role_code
        from sys_role r, sys_user_role ur
        where r.role_id = ur.role_id and ur.user_id = #{userId}
    </select>
</mapper>
