<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0.txt

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.hub.admin.infra.sys.mapper.HubConfigMapper">

    <update id="resetTenantConfig" databaseId="postgres">
        insert into hub_config(tenant_id,
                               config_name,
                               config_key,
                               config_value,
                               value_type,
                               value_parser,
                               is_default,
                               remark,
                               create_by,
                               create_time,
                               update_by,
                               update_time)
        select #{tenantId},
               config_name,
               config_key,
               config_value,
               value_type,
               value_parser,
               is_default,
               remark,
               create_by,
               create_time,
               update_by,
               update_time
        from hub_config
        where tenant_id = '#' on conflict(tenant_id, config_key) do
        update set
            config_name = excluded.config_name,
            config_value = excluded.config_value,
            value_type = excluded.value_type,
            value_parser = excluded.value_parser,
            is_default = excluded.is_default,
            remark = excluded.remark,
            create_by = excluded.create_by,
            create_time = excluded.create_time,
            update_by = excluded.update_by,
            update_time = excluded.update_time
    </update>

    <update id="resetTenantConfig" databaseId="mysql">
        insert into hub_config(tenant_id,
                               config_name,
                               config_key,
                               config_value,
                               value_type,
                               value_parser,
                               is_default,
                               remark,
                               create_by,
                               create_time,
                               update_by,
                               update_time)
        select #{tenantId},
               config_name,
               config_key,
               config_value,
               value_type,
               value_parser,
               is_default,
               remark,
               create_by,
               create_time,
               update_by,
               update_time
        from hub_config
        where tenant_id = '#' on duplicate key update
        config_name = values (config_name),
        config_value = values (config_value),
        value_type = values (value_type),
        value_parser = values (value_parser),
        is_default = values (is_default),
        remark = values (remark),
        create_by = values (create_by),
        create_time = values (create_time),
        update_by = values (update_by),
        update_time = values (update_time)
    </update>
</mapper>
