<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0.txt

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.hub.admin.infra.sys.mapper.HubDictMapper">
    <sql id="dictField">
        d.id,
        d.parent_code   parentCode,
	    d.dict_code     dictCode,
	    d.dict_name     dictName,
        d.dict_value    dictValue,
        d.value_type    valueType,
        d.value_parser  valueParser,
        d.dict_order    dictOrder,
	    d.is_default    isDefault,
	    d.status,
        d.css,
        d.create_by    createBy,
        d.create_time  createTime,
        d.update_by    updateBy,
        d.update_time  updateTime,
        d.remark
    </sql>

    <select id="queryList" resultType="com.cowave.hub.admin.domain.sys.entity.pto.DictPto">
        select
        case d.parent_code when 'root' then '根字典' when 'group' then '根字典' else g.dict_name end groupName,
        case d.parent_code when 'root' then 'root'  when 'group' then 'root' else g.dict_code end groupCode,
        case d.parent_code when 'root' then '根字典' else t.dict_name end typeName,
        case d.parent_code when 'root' then 'root'  else t.dict_code end typeCode,
        <include refid="dictField"/>
        from hub_dict d
        left join hub_dict t on d.parent_code = t.dict_code
        left join hub_dict g on t.parent_code = g.dict_code
        where d.id > 1
        <if test="dictCode != null and dictCode != ''">
            and d.dict_code like concat('%', #{dictCode}, '%')
        </if>
        order by d.parent_code, d.dict_order
    </select>

    <select id="queryByIds" resultType="com.cowave.hub.admin.domain.sys.entity.pto.DictPto">
        select
        case d.parent_code when 'root' then '根字典' when 'group' then '根字典' else g.dict_name end groupName,
        case d.parent_code when 'root' then 'root'  when 'group' then 'root' else g.dict_code end groupCode,
        case d.parent_code when 'root' then '根字典' else t.dict_name end typeName,
        case d.parent_code when 'root' then 'root'  else t.dict_code end typeCode,
        <include refid="dictField"/>
        from hub_dict d
        left join hub_dict t on d.parent_code = t.dict_code
        left join hub_dict g on t.parent_code = g.dict_code
        where d.id in
        <foreach collection="list"  item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryById" resultType="com.cowave.hub.admin.domain.sys.entity.pto.DictPto">
        select
        case d.parent_code when 'root' then '根字典' when 'group' then '根字典' else g.dict_name end groupName,
        case d.parent_code when 'root' then 'root'  when 'group' then 'root' else g.dict_code end groupCode,
        case d.parent_code when 'root' then '根字典' else t.dict_name end typeName,
        case d.parent_code when 'root' then 'root'  else t.dict_code end typeCode,
        <include refid="dictField"/>
        from hub_dict d
        left join hub_dict t on d.parent_code = t.dict_code
        left join hub_dict g on t.parent_code = g.dict_code
        where d.id = #{id}
    </select>

    <delete id="removeByGroup" databaseId="postgres">
        with ds as (select id from hub_dict where parent_code = #{groupCode}
                    union all
                    select d1.id from hub_dict d
                    left join hub_dict d1 on d.dict_code = d1.parent_code
                    where d.parent_code = #{groupCode}
        )
        delete from hub_dict d using ds where d.id = ds.id
    </delete>

    <delete id="removeByGroup" databaseId="mysql">
        delete d
        from hub_dict d
        inner join (
            select id from hub_dict where parent_code = #{groupCode}
            union all
            select d1.id from hub_dict d
            left join hub_dict d1 on d.dict_code = d1.parent_code
            where d.parent_code = #{groupCode}
        ) ds on d.id = ds.id
    </delete>

    <select id="listByGroup" resultType="com.cowave.hub.admin.domain.sys.entity.HubDict">
        with types as (select parent_code, dict_code from hub_dict where parent_code = #{groupCode})
        select
        <include refid="dictField"/>
        from hub_dict d, types where d.parent_code = types.dict_code
    </select>

    <select id="listTypeByGroup" resultType="com.cowave.hub.admin.domain.sys.entity.pto.DictPto">
        select t.group_code, d1.dict_name group_name,
               t.type_code, d2.dict_name type_name
        from (select parent_code as group_code, dict_code as type_code
              from hub_dict where parent_code = #{groupCode}
              union all
              select d.parent_code as group_code, d.dict_code as type_code
              from hub_dict d join hub_dict g on d.parent_code = g.dict_code
              where g.parent_code = #{groupCode}
              ) t
            left join hub_dict d1 on t.group_code = d1.dict_code
            left join hub_dict d2 on t.type_code = d2.dict_code
    </select>
</mapper>
