<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0.txt

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.hub.admin.infra.sys.mapper.HubNoticeMapper">

    <update id="updateMsgStat">
        update hub_notice
        set notice_status = #{noticeStatus},
            publish_time  = #{publishTime},
            stat_total    = (select count(1) from hub_notice_user where notice_id = #{noticeId})
        where notice_id = #{noticeId}
    </update>

    <update id="updateReadStat">
        update hub_notice set stat_read = t.count
        from (select count(1) from hub_notice_user where read_status >= 10 and notice_id = #{noticeId}) t
        where notice_id = #{noticeId}
    </update>

    <update id="updateNoticeStatForNewUser">
        update hub_notice set stat_total = stat_total + 1
        where notice_status = 1 and goals_all = 1
    </update>
</mapper>
