<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0.txt

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cowave.hub.admin.infra.sys.mapper.SysDictMapper">
    <sql id="dictPto">
        d.id,
        d.tenant_id   tenantId,
        d.type_code   typeCode,
        d.dict_code   dictCode,
        d.dict_name   dictName,
        d.dict_value  dictValue,
        d.value_type  valueType,
        d.value_parser valueParser,
        d.dict_order  dictOrder,
        d.is_default  isDefault,
        d.css,
        d.status,
        d.remark,
        d.create_by   createBy,
        d.create_time createTime,
        d.update_by   updateBy,
        d.update_time updateTime,
        t.type_name   typeName,
        t.module_code moduleCode,
        m.module_name moduleName
    </sql>

    <select id="queryDictList" resultType="com.cowave.hub.admin.domain.sys.entity.pto.DictPto">
        select
        <include refid="dictPto"/>
        from sys_dict d
        left join sys_dict_type t on d.type_code = t.type_code and d.tenant_id = t.tenant_id
        left join sys_module m on t.module_code = m.module_code and t.tenant_id = m.tenant_id
        where d.tenant_id = #{tenantId}
        <if test="typeCode != null and typeCode != ''">
            and d.type_code = #{typeCode}
        </if>
        <if test="moduleCode != null and moduleCode != ''">
            and t.module_code = #{moduleCode}
        </if>
        order by d.type_code, d.dict_order
    </select>

    <select id="queryDictById" resultType="com.cowave.hub.admin.domain.sys.entity.pto.DictPto">
        select
        <include refid="dictPto"/>
        from sys_dict d
        left join sys_dict_type t on d.type_code = t.type_code and d.tenant_id = t.tenant_id
        left join sys_module m on t.module_code = m.module_code and t.tenant_id = m.tenant_id
        where d.tenant_id = #{tenantId} and d.id = #{id}
    </select>
</mapper>
